<svg viewBox="0 0 960 300">
    <symbol id={{content}}>
      <text text-anchor="middle" x="50%" y="80%">{{content}}</text>
    </symbol>
  
    <g class = "g-ants">
      <use xlink:href="" [attr.xlink:href]="contentLink" class="text-copy"></use>
      <use xlink:href="" [attr.xlink:href]="contentLink" class="text-copy"></use>
      <use xlink:href="" [attr.xlink:href]="contentLink" class="text-copy"></use>
      <use xlink:href="" [attr.xlink:href]="contentLink" class="text-copy"></use>
      <use xlink:href="" [attr.xlink:href]="contentLink" class="text-copy"></use>
    </g>
  </svg>