<div class="container">
    <div class="card">
      <img src="https://d9i9nmwzijaw9.cloudfront.net/450/774/576/-29996968-1tfd7tc-gpggmmc5d0og3a0/original/image.jpg" alt="Person" class="card__image">
      <!-- <p class="card__name">Lily-Grace Colley</p> -->
      <app-text class="grid-child-posts" [content]="'Lily-Grace Colley'" [contentLink]="'#Lily-Grace Colley'"></app-text>
      <div class="grid-container">
  
        <app-text class="grid-child-posts" [content]="'156 Post'" [contentLink]="'#156 Post'"></app-text>

        <app-text class="grid-child-posts" [content]="'1012 Likes'" [contentLink]="'#1012 Likes'"></app-text>
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
      </ul>

      <app-button [title]="'follow'"></app-button>
      <app-button [title]="'message'"></app-button>
  
    </div>
  </div>